<div class="toolbar">
  <h1>MatrioshTS!</h1>
</div>

<div class="card-container">
  <div class="card_left" tabindex="0">
    <div class="card-size ">
      <h4> Entrada:</h4>
      <ngx-codemirror [(ngModel)]="txtIn" [options]="{
            lineNumbers: true,
            theme: 'lesser-dark',
            mode: 'javascript',
            lineWrapping: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
            autoCloseBrackets: true,
            matchBrackets: true,
            lint: true
        }" #txtEntrada> </ngx-codemirror>
    </div>
    <div class="example-button-row">
      <button mat-raised-button (click)="onCleanIn()">LImpiar</button>
      <button mat-raised-button (click)="onEjecutar()">Traducir</button>
      <button mat-raised-button (click)="OnEjecutarTs()">Ejecutar</button>
      <button mat-raised-button (click)="OnEjecutar3D()">Traducir C3D</button>
    </div>

    <div class="example-button-row">
      <mat-checkbox class="example-margin" [(ngModel)]="chkTree">Árbol</mat-checkbox>
      <button mat-raised-button (click)="OnEjecutarTs()">Ver AST</button>
    </div>
  </div>

  <div class="card_left" tabindex="0">
    <div class="card-size ">
      <h4> Salida:</h4>
      <ngx-codemirror [(ngModel)]="txtOut" [options]="{
            lineNumbers: true,
            theme: 'lesser-dark',
            mode: 'javascript',
            lineWrapping: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
            autoCloseBrackets: true,
            matchBrackets: true,
            lint: true
        }" #txtSalida> </ngx-codemirror>
    </div>

    <div class="example-button-row">

      <button mat-raised-button (click)="onCleanOut()">Limpiar</button>

    </div>



  </div>

</div>



<div class="card-container">
  <div class="card_left" tabindex="0">

    <div class=" card-size ">
      <h3 class="h3-style"> Errores:</h3>
      <ngx-codemirror [(ngModel)]="txtErrores" [options]="{
            lineNumbers: true,
            theme: 'ambiance',
            mode: 'javascript',
            lineWrapping: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
            autoCloseBrackets: true,
            matchBrackets: true,
            lint: true
        }" #txtEntrada> </ngx-codemirror>
    </div>
    <div class="example-button-row">
      <button mat-raised-button (click)="onCleanError()">LImpiar</button>
    </div>

  </div>

  <div class="card_left" tabindex="0">
    <div class=" card-size ">
      <h3 class="h3-style"> Pila:</h3>
      <ngx-codemirror [(ngModel)]="txtPila" [options]="{
            lineNumbers: true,
            theme: 'ambiance',
            mode: 'javascript',
            lineWrapping: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
            autoCloseBrackets: true,
            matchBrackets: true,
            lint: true
        }" #txtSalida> </ngx-codemirror>
    </div>

    <div class="example-button-row">

      <button mat-raised-button (click)="onCleanPila()">Limpiar</button>

    </div>

  </div>

</div>
