@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/lesser-dark.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~codemirror/theme/ambiance';

.node circle {
  fill: orange;
  stroke: green;
  stroke-width: 3px;
}

.node text {
  font: 10px sans-serif;
  font:bold;
}

.link {
  fill: none;
  /*stroke: #ccc;*/
  stroke: black;
  stroke-width: 1px;
}

.CodeMirror {
  height: 510px;
  width: 630px;
}
